* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: image 10s infinite alternate;
          animation: image 10s infinite alternate;
  background-position: center;
  padding: 10px 15px 10px 15px;
}

.profile {
  max-width: 500px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  position: relative;
}

.profile .header {
  text-align: center;
  margin-bottom: 20px;
}

.profile .header .img__profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  animation: animate-up 2s ease-in-out infinite alternate-reverse both;
}

.profile .header .title {
  color: #fff;
  font-size: 17px;
  padding: 10px;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.profile .header .slogan {
  color: #fff;
  font-size: 16px;
  font-family: poppins;
  opacity: 0.8;
}

.profile .social__media {
  max-width: 260px;
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px 5px 10px 5px;
  -webkit-box-shadow: rgba(46, 124, 240, 0.4) -5px 5px, rgba(82, 46, 240, 0.3) -10px 10px, rgba(46, 65, 240, 0.2) -15px 15px, rgba(114, 46, 240, 0.096) -20px 20px, rgba(104, 46, 240, 0.05) -25px 25px;
          box-shadow: rgba(46, 124, 240, 0.4) -5px 5px, rgba(82, 46, 240, 0.3) -10px 10px, rgba(46, 65, 240, 0.2) -15px 15px, rgba(114, 46, 240, 0.096) -20px 20px, rgba(104, 46, 240, 0.05) -25px 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: scroll;
}

.profile .social__media .social {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.profile .social__media .social a {
  text-decoration: none;
}

.profile .social__media .social li {
  width: 100px;
  background: #fff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-radius: 10px 0px 10px 0px;
  margin: 10px;
}

.profile .social__media .social li i {
  font-size: 50px;
  color: #fff;
  text-decoration: none;
}

.profile .social__media .social li.facebook {
  background: #2d86ff;
  -webkit-box-shadow: #2d86ff 0px 5px 15px;
          box-shadow: #2d86ff 0px 5px 15px;
}

.profile .social__media .social li.github {
  -webkit-box-shadow: #fff 0px 5px 15px;
          box-shadow: #fff 0px 5px 15px;
}

.profile .social__media .social li.github .github {
  color: #000;
}

.profile .social__media .social li.reddit {
  background: #ff4500;
  -webkit-box-shadow: #ff4500 0px 5px 15px;
          box-shadow: #ff4500 0px 5px 15px;
}

.profile .social__media .social li.discord {
  background: #5865f2;
  -webkit-box-shadow: #5865f2 0px 5px 15px;
          box-shadow: #5865f2 0px 5px 15px;
}

.profile .social__media .social li.youtube {
  background: #f80101;
  -webkit-box-shadow: #f80101 0px 5px 15px;
          box-shadow: #f80101 0px 5px 15px;
}

.profile .social__media .social li.zalo {
  background: #0573ff;
  -webkit-box-shadow: #0573ff  0px 5px 15px;
          box-shadow: #0573ff  0px 5px 15px;
}

.profile .social__media .social li.zalo p {
  color: #fff;
  font-size: 30px;
}

@-webkit-keyframes image {
  0% {
    background-image: url("https://haycafe.vn/wp-content/uploads/2022/03/Background-anime-1.jpg");
  }
  50% {
    background-image: url("https://demoda.vn/wp-content/uploads/2022/02/background-anime-pc.jpg");
  }
  100% {
    background-image: url("https://anhdephd.vn/wp-content/uploads/2022/05/background-anime.jpg");
  }
}

@keyframes image {
  0% {
    background-image: url("https://haycafe.vn/wp-content/uploads/2022/03/Background-anime-1.jpg");
  }
  50% {
    background-image: url("https://demoda.vn/wp-content/uploads/2022/02/background-anime-pc.jpg");
  }
  100% {
    background-image: url("https://anhdephd.vn/wp-content/uploads/2022/05/background-anime.jpg");
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #0004;
}

@-webkit-keyframes animate-up {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes animate-up {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=style.css.map */